<!DOCTYPE html>
<html lang="en">
<head>
    <div class="container">
    <form action = "/result_id" method="post">

        ID:<br>
  <input type="text" id="user_id" name="user_id" >
  <br>
  <input type="submit" value="Search">
    </form></div>

    <style>
    .container{
    position: relative;
    top: 54px;
    text-align: center;
    background-color: white;
    }
    form {
  top: 50px;
  margin: 0 auto;
  width: 400px;
  padding: 1em;

}
.result{
  position: relative;
  top: 70px;
  text-align: center;
}
.register{
  position: absolute;
  top: 150px;
  left: 450px;

}

.login{
  position: absolute;
  top: 190px;
  left: 450px;

}

</style>
    <div class = "result"><p>Data not correct!!!</p></div>
<div class="register"><form  action="/" method="get"><button class="button1">register</button></form></div>
<div class="login"><form  action="/login" method="get"><button class="button2">login</button></form></div>

</head>
<body>

</body>
</html>